[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "3.2"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
dj-rest-auth = {extras = ["with_social"], version = "*"}
django-debug-toolbar = "*"
psycopg2-binary = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
pillow = "*"
python-dotenv = "*"
django-extensions = "*"
graphviz = "*"
drf-yasg = "*"

[dev-packages]

[requires]
python_version = "3.9"
